/* fonts */

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap')

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* styling navigation */

.logo-a{
	color:#4B647E;
	font-size: 32px;
	font-weight: bolder;
}

.logo::before{
	content: "web ";
	color: #3D37F1;
	text-transform: capitalize;
	font-size: 32px;
	
} 

.menu{
	color: #3D37F1;
}

.nav{
	display: flex;
	margin-top: 70px;
	margin-left: 10%;
	justify-content: space-between;
	font-family: 'Lato';
}

.nav-ul{
	display: flex;
	margin-right: 248px;
	align-items: center;
	

}

li{
	padding-right: 60px;
}



/* styling section 1 */

.section-1{
	display: flex;
	margin-top: 290px;
	margin-left: 10%;
}


.section1-image{
	width: 80%;
}


.heading-1{
	font-size: 78px;
	color: #534D4D;
	width: 655px;
	font-family: 'Lato';
}

.heading-2{
	font-size: 22px;
	color: #534D4D;
	margin-top: 41px;
	font-family: "Roboto", sans-serif;
}

.wave{
	width: 264px;
	height: 77px;
	background-color: #3D37F1;
	border-radius: 38px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	font-size: 23px;
	margin-left: 10%;
	font-family: 'Lato-Regular';
}

.wave:before{
	content: "\270B";
}

/* styling section 2 */

.section-2{
	width: 100%;
	background-color: #F8F8F8;
	margin-top: 367px;
}


.heading-3{
	color: #3D37F1;
	font-size: 20px;
	text-align: center;
	padding-top: 80px;
	font-family: 'Lato';
}

.heading-4{
	color: #5A5454;
	font-size: 40px;
	text-align: center;
	margin-top: 20px;
	font-family: 'Lato-Regular';
}

.paragraph{
	color: #747474;
	font-size: 18px;
	width: 700px;
	text-align: center;
	margin-left: auto;
  	margin-right: auto;
  	margin-top: 20px;
  	font-family: "Roboto", sans-serif;
}


/* styling second section's boxes */

.orange{
	height: 451px;
	width: 370px;
	background-image: linear-gradient(#FBBA77, #DFA871);

}

.light-blue{
	height: 451px;
	width: 370px;
	background-image: linear-gradient(#41EAE3, #2293B7);
	margin-left: 30px;
	margin-right: 30px;
}

.purple{
	height: 451px;
	width: 370px;
	background-image: linear-gradient(#69529F, #463864);
}

.blue{
	height: 451px;
	width: 370px;
	background-image: linear-gradient(#4386D2, #0962C5);
}

.violet{
	height: 451px;
	width: 370px;
	background-image: linear-gradient(#A5A2F6, #564FD6);
	margin-left: 30px;
	margin-right: 30px;
}

.red{
	height: 451px;
	width: 370px;
	background-image: linear-gradient(#FF8088, #984141);
}

.sub-section-4{
	margin-top: 67px;
	
}


.first-row{
	display: flex;
	text-align: center;
	justify-content: center;
	margin-block: 60px;
}



.second-row{
	display: flex;
	text-align: center;
	justify-content: center;
}

.box-image{
	margin-top: 88px;
}

/*.box-read-more{
	border: 2px solid white ;
	height: 45px;
	width: 131px;
	border-radius: 23px;
	display: flex;
	justify-content: center;
	align-items: center;


.read-more:hover{
	color: #4B647E;
	height: 45px;
	width: 131px;
	background-color: white;
	border-radius: 23px;
	display: flex;
	justify-content: center;
	align-items: center;
}*/


.box-heading{
	color: white;
	font-size: 22px;
	margin-top: 60px;
	font-family: 'Lato-Regular';
}

.box-paragraph{
	width: 328px;
	text-align: center;
	margin-left: auto;
  	margin-right: auto;
  	color: white;
  	font-family: "Roboto", sans-serif;
  	margin-top: 15px;
  	line-height: 1.5;
}


.box-read-more{
	margin-top:30px;
	border: 2px solid white ;
	height: 45px;
	width: 131px;
	border-radius: 23px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: auto;
  	margin-right: auto;

}

.box-read-more:hover{
	color: #4B647E;
	background-color: white;
	cursor: pointer;

}

.read-more{
	font-size: 15px;
	color: white;
	font-family: "Roboto", sans-serif;

}

.read-more:hover{
	color: #4B647E;
	
}